.maracsh{
    width: 500px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #0077b6;
    display: block;
    justify-content: center;
    margin: auto;
}

.tanja{
    width: 500px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #0077b6;
    display: block;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
}

.efran{
    width: 500px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #0077b6;
    display: block;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
}

.bainalwadin{
    width: 500px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #0077b6;
    display: block;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
}